* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.8;
    font-family: Lato, sans-serif;
    background-color: #F2F2F2;
}
.main {
    display: flex;

}

/* navColor #01896A */